Face-Transformer/data/
Face-Transformer/eval/
dataset_test/
InsightFace_Pytorch/
Face-Transformer/Fresults/
Face-Transformer/__pycache__/
Face-Transformer/wandb/
Face-Transformer/test-Tsne/
Face-Transformer/Tsne/
Face-Transformer/draw/
Face-Transformer/get_lfw_val_data_pair.py
Face-Transformer/tsne_main.py
Face-Transformer/test.ipynb
Face-Transformer/log/
# other repo
CVPR19_Incremental_Learning/
InfluenceCL/
incremental_learning.pytorch/
*.pdf
*.png
!1711080678110.png
*.npy
*.pth
*.txt
!requirements.txt
