Face-Transformer/data/
Face-Transformer/eval/
dataset_test/
InsightFace_Pytorch/
Face-Transformer/Fresults/
Face-Transformer/__pycache__/
Face-Transformer/wandb/
Face-Transformer/test-Tsne/
# other repo
CVPR19_Incremental_Learning/
InfluenceCL/
incremental_learning.pytorch/
*.pdf
*.png
*.npy
*.pth